/*Fonts*/
@font-face {
    font-family: "Opensans-bold";
    src: url(../fonts/font/OPENSANS-BOLD.ttf);
    src: url(../fonts/font/OPENSANS-BOLD.otf);
}
@font-face {
    font-family: "Opensans-bold-italic";
    src: url(../fonts/font/OPENSANS-BOLDITALIC.ttf);
    src: url(../fonts/font/OPENSANS-BOLDITALIC.otf);
}
@font-face {
    font-family: "Opensans-italic";
    src: url(../fonts/font/OPENSANS-ITALIC.ttf);
    src: url(../fonts/font/OPENSANS-ITALIC.otf);
}
@font-face {
    font-family: "Opensans-light";
    src: url(../fonts/font/OPENSANS-LIGHT.ttf);
    src: url(../fonts/font/OPENSANS-LIGHT.otf);
}
@font-face {
    font-family: "Opensans-light-italic";
    src: url(../fonts/font/OPENSANS-LIGHTITALIC.ttf);
    src: url(../fonts/font/OPENSANS-LIGHTITALIC.otf);
}
@font-face {
    font-family: "Opensans-regular";
    src: url(../fonts/font/OPENSANS-REGULAR.ttf);
    src: url(../fonts/font/OPENSANS-REGULAR.otf);
}
@font-face {
    font-family: "Opensans-semibold";
    src: url(../fonts/font/OPENSANS-SEMIBOLD.ttf);
    src: url(../fonts/font/OPENSANS-SEMIBOLD.otf);
}
@font-face {
    font-family: "Opensans-semibold-italic";
    src: url(../fonts/font/OPENSANS-SEMIBOLDITALIC.ttf);
    src: url(../fonts/font/OPENSANS-SEMIBOLDITALIC.otf);
}
@font-face {
	font-family: "proxi_light";
   /* src: url(../fonts/font/OPENSANS-SEMIBOLDITALIC.ttf);*/
    src: url(../fonts/PROXIMANOVA-LIGHT_0.otf);
}


	/*GENERAL CLASS*/

.width-100-percent{
	width: 100%;
}
.padding-zero{
	padding:0px;
}
.uppercase{
	text-transform: uppercase;
}
/*End of General*/

.fixed-top-head {
    height: 6px;
    width: 100%;
    background: #df0024;
}
.content-for-fixed-head {
    padding-top: 8px;
    color: #fff;
    font-size: 17px;
    padding-left: 0;
    font-family: Opensans-regular;
}
.custom_navbar_style {
	background-color: #ffffff;
    border-color: #e7e7e7;
    height: 130px;
    margin-bottom: 0px;
}
.brand_style{
	width: 80px;
}
div#bs-example-navbar-collapse-1 {
    margin-top: 35px;
}
div#bs-example-navbar-collapse-1 li a {
    font-family: Opensans-semibold;
    font-size: 16px;
    color: #585858;
    text-transform: uppercase;
}

div#bs-example-navbar-collapse-1 li a:hover {
    color: #df0024;
}
.floating_header_content {
    background: #df0024;
    height: 78px;
    border: 1px solid #bd0523;
    padding: 16px 0px;
    z-index: 9;
    width: 33.33%;
    float: left;
}
.floating-text{
	font-size: 15px;
    font-family: Opensans-light;
    color: #fff;

}
.floating_wrapper {
    position: relative;
    top: -39px;
    width: 904px;
    margin: 0 auto;
    display: table;
    z-index: 9;
}

.floating-icon i {
    color: #fff;
    /*padding-top: 54%;*/
    font-size: 40px;
}
a.mail_to {
    color: #fff;
    text-decoration: none;
}
a.mail_to:hover {
    font-weight: 700;
}
.slider_start{
	position: relative;
    top: -78px;
   /* z-index: -9;*/
}
.below_slider_text {
    position: relative;
    top: -78px;
    padding: 38px;
    border-bottom: 2px solid #ededed;
}
.below_slider_text p{
	font-family: Opensans-semibold;
	font-size:18px;
}
p.title_1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #585858;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
}
p.desc_1 {
    font-family: Opensans-light;
    font-size: 14px;
    text-align: center;
}
.core_wrap {
    border: 0px solid #ededed;
    padding: 0 50px;
}
.bg_wrapper_core {
    position: relative;
    top: -78px;
}
.whole_wrapper{
	padding-top: 3%;
}
.mission_wrap {
    padding: 13px;
}
.bg_wrapper_core {
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:108px;
}
.above_accolades {
    font-family: Opensans-light;
    font-size: 18px;
    position: relative;
    top: -78px;
    padding: 29px;
}
p.acc_title_1 {
    font-family: Opensans-semibold;
    font-size: 14px;
}
.acc_content_wrap {
    padding-bottom: 28px;
}
.service_wrap {
    background: rgba(228,228,228,0.9);
    padding: 20px;
    min-height: 282px;
}
.service_bg {
    background: url('../img/service.jpg');
}
.full_service_wrap{
	padding-top: 40px;
}
.service_wrap .desc_1 {
    color: #4e4e4e;
    font-family: proxi_light;
}
.second_row_service {
    padding-top: 30px;
    padding-bottom: 35px;
}


/*Slider Test*/
.main-container {
  padding: 10px 15px;
}
.skyblue {
	background:url('../img/balu_slider.jpg');
}
.deepskyblue {
	background:url('../img/homeSliderPic.png');
    background-size: 100% 100%;
}
.darkerskyblue {
	background:url('../img/balu_slider.jpg');
}
.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 550px; 
	
	width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	/*background-color: #09c;*/
}
.carousel-caption h3 {
	/*padding: .5em;*/
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #00bfff;
	margin-top: 1em; 
}

/* Animation delays */
.carousel-caption h3:first-child {
    animation-delay: 1s;
    position: absolute;
    left: 17%;
    top: 148px;
}
.carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
    position: absolute;
    top: 167px;
    text-align: left;
    padding-top: 20px;
    width: 32%;
}

.carousel-control{
    top: 245px;
    bottom:250px;
}
h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}
.carousel-caption{
	position: relative;
	right: 0px;
	left: -17%;
	top: 25%;
}
.slider_cap {
    position: absolute;
    top: 8%;
    left: 30%;
}

span.title_1_slider {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
span.title_3_slider {
    font-family: Opensans-regular;
    font-size: 14px;
    line-height: 1.3em;
}

.footer_wrap{
    background-color: #666666;
    /*height: 180px;*/
    padding: 17px;
    float: left;
    width: 100%;
}

.footer_title {
    color: #e6e6e6;
    font-family: Opensans-semibold;
    font-size: 16px;
}

.footer_contents{
    color: silver;
    /*font-size: 12px;*/
    font-family: Opensans-light;
    font-size: 14px;
}

.footer_contents li{
    list-style-type: none;
}
.footer_contents li i {
    padding-right: 8px;
}

.footer_icons{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.footer_contents ol{
    padding-left: 1px;
}
.sub_content_foot {
    font-family: Opensans-light;
    font-size: 14px;
}
p.copyright.uppercase {
    text-align: right;
    font-family: Opensans-regular;
    font-size: 12px;
}
p.privacy{
    font-family: Opensans-regular;
    font-size: 12px;
}
#last_footer{
	background: #dedede;
}
#last_footer p {
	color: #8e8e8e;
}
.foot_wrap{
	height: 20px;
    overflow: hidden;
}


/*Section balu approach*/
section#balu_approach {
    background-image: url("../img/bg2.jpg");
}
#balu_approach p.title_1.with_line {
    color: #fff;
}
p.below_heading {
    color: #fff;
    text-align: center;
    padding: 14px 90px;
    font-family: Opensans-regular;
}
._line_ hr {
    border: 0;
    height: 4px;
    background: #df0024;
    /* background-image: linear-gradient(to right, #ccc, #b30c23, #ccc); */
    width: 50px;
    margin-top: 0;
}
section#balu_approach {
    background-image: url("../img/bg2.jpg");
    background-position: center center;
    padding: 25px 0px;
    margin-bottom: 60px;
}
p.below_heading {
    color: #fff;
    text-align: center;
}
.item_wrap {
    background: rgba(216,217,217,0.8);
    padding-bottom: 15px;
}
p.tit1 {
    font-family: Opensans-semibold;
    font-size: 21px;
    padding: 10px 0px 0;
    color: #484848;
}
p.sub_txt {
    font-family: Opensans-light;
    color: #444445;
}
.r_m_btn {
    text-decoration: none;
    font-family: Opensans-regular;
    font-size: 12px;
    color: #474747;
    border: 1px solid #474747;
   padding: 5px 18px;
  transition:all 0.2s ease;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
}
.modal-header{
    height: 60px !important;
}
.modal-body{
    height: calc(100% - 60px);
}
.r_m_btn:hover {
    color: #df0024;
    border: 1px solid #df0024;
}
p.heading_of_promo_p {
    font-family: Opensans-bold;
    font-size: 26px;
    color: #4d4d4d;
}
.heading_of_promo {
    padding: 67px 103px 16px;
}
.header_promo {
    background: url('../img/pageTitleBg.png');
    position: relative;
    top: -78px;
}
p.breadcrumbs {
    font-family: Opensans-semibold;
    font-size: 13px;
    color: #777777;
    text-transform: uppercase;
}
p span.bread_active {
    color: #df0024;
}
p.heading_of_promo_p {
    font-family: Opensans-bold;
    font-size: 26px;
    color: #4d4d4d;
    margin-bottom: 0;
    text-transform: uppercase;
}


/* css added by PRACHI */
.homeSect3{
    width: 100%;
    float: left;
    border-bottom: 3px solid #989898;
    margin-bottom: 57px;
    overflow: hidden;
    padding-top: 30px;
}
.homeSect3Inner{
    width: 100%;
    float: left;
    margin-bottom: -13px;
}
.btn-danger {
    background-color: #E82020;
    border-color: #E82020;
}
.forfont1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Opensans-bold";
    font-size: 20px;
    color: #000;
    opacity: 0.8;

}
#homeBtmSlider{
    position: relative;
}
#homeBtmSlider .item{
    margin-right: 15px;
}
#homeBtmSlider .owl-prev{
    width: 27px;
    height: 27px;
    position: absolute;
    left: -3%;
    top: 40%;
    background: url('../img/btmLeftArrow.png') no-repeat;
    content: "";
}

#homeBtmSlider .owl-next{
    width: 27px;
    height: 27px;
    position: absolute;
    right: -2%;
    top: 40%;
    background: url('../img/btmRightArrow.png') no-repeat;
    content: "";
}

#manuSlider .owl-prev{
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    top: 20%;
    background: url('../img/manuleft.png') no-repeat;
    content: "";
}

#manuSlider .owl-next{
    width: 27px;
    height: 27px;
    position: absolute;
    right: 0;
    top: 20%;
    background: url('../img/manuright.png') no-repeat;
    content: "";
}
#modal_body img{
    /*height: 150px;*/
    display: table;
    margin: 0 auto 20px;
}

.skil{
    position: relative;
    bottom: 0;
}

.carousel-inner .active.left { left: -33%; } 
.carousel-inner .next{
left:  33%; } 
.carousel-inner .prev{ left: -33%; }
 .carousel-control.left,.carousel-control.right {background-image:none;} 
.item:not(.prev){visibility: visible;} 
.item.right:not(.prev) {visibility: hidden;} 
.rightest{
visibility: visible;} 
.whoweAreSect{     width: 100%;     float: left;
position: relative;     top: -35px; margin-bottom: 45px;} 

.abTopPic{
    width: 100%;
    float: left;
    height: 340px;
}
.abTopPicDesc{
    width: 100%;
    float: left;
    font-family: "Opensans-light";
    font-size: 14px;
    line-height: 22px;
    color: #000;
    opacity: 0.8;
}

/* dtSect css */
.companyHisSect{
    width: 100%;
    float: left;
}
/* dt timeline */
.wpb_column > .wpb_wrapper > *:last-child {
    margin-bottom: 0;
}
.dt-timeline {
    position: relative;
}

.dt-timeline:before {
    content: "";
    display: block;
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background-color: rgba(0,0,0, 0.1);
}
.timeline-left-group {
    float: left;
    width: 50%;
}

.dt-timeline .time-item {
    padding: 45px 0;
    position: relative;
}
.dt-timeline .time-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.dt-timeline .time-item.left {
    float: left;
    width: 100%;
}
.timeline-left-group .time-item:first-child, .timeline-right-group .time-item:first-child {
    padding-top: 0;
}

.dt-timeline .time-item .center-line {
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
}
.dt-timeline .time-item .center-line {
    background-color: #fff!Important;
}
.dt-timeline .time-item.left .center-line {
    right: -8px;
}
.timeline-left-group .time-item:first-child .center-line, .timeline-right-group .time-item:first-child .center-line {
    margin-top: -14px;
}

.dt-timeline .time-item .center-line i {
    color: #fff;
}

.dt-timeline .time-item .center-line.circle i {
    width: 18px;
    height: 18px;
    border: 3px solid rgba(0,0,0, 0.1);
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.dt-timeline .time-item .center-line.circle i {
    border-radius: 100%;
}

.dt-timeline .time-item .center-line i:after {
    content: '';
    border: 4px solid #fff;
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;
}
.timeline-left-group .content-line {
    margin: 0 50px 0 0;
}
.dt-timeline .time-item .content-line {
    border: 1px solid rgba(0,0,0, 0.1);
    position: relative;
    padding: 20px 20px 0px;
    position: relative;
    background: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.dt-timeline .time-item .content-line {
    text-align: left;
}
.dt-timeline .time-item.left .content-line {
    right: 100px;
}
.dt-timeline .time-item.left .content-line {
    right: 0;
}

.dt-timeline .time-item.left .content-line:before {
    right: -7px;
    border-right: 1px solid rgba(0,0,0, 0.1);
    border-top: 1px solid rgba(0,0,0, 0.1);
}
.dt-timeline .time-item .content-line:before {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    display: block;
    width: 14px;
    height: 14px;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.wpb_single_image.vc_align_left {
    text-align: left;
}

.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
    margin-bottom: 35px;
}
.wpb_single_image .wpb_wrapper {
    overflow: hidden;
    position: relative;
}
.wpb_single_image .wpb_wrapper {
    position: relative;
}

.wpb_single_image img {
    height: 300px;
    max-width: 100%;
}
.primary_color_text, .paging-nav a:hover {
    color: #df0024;
    font-family: "Opensans-bold";
    font-size: 20px;
    text-align: left;
}

.timeline-right-group {
    float: right;
    width: 50%;
}
.dt-timeline .time-item.right {
    float: right;
    width: 100%;
}
.timeline-left-group .time-item:first-child .center-line, .timeline-right-group .time-item:first-child .center-line {
    margin-top: -14px;
}
.dt-timeline .time-item.right .center-line {
    left: -10px;
}
.dt-timeline .time-item.right .content-line {
    left: 0;
}
.dt-timeline .time-item.right .content-line:before {
    left: -7px;
    border-left: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}
.timeline-right-group .content-line {
    margin: 0 0 0 50px;
}
.dt-timeline:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.dt-timeline .time-item:hover .content-line *{
  -webkit-transition:0s;
  -moz-transition:0s;
  -ms-transition:0s;
  -o-transition:0s;
  transition:0s;

}

.dt-timeline .time-item:hover .center-line i{
  background: #666;
  color: #fff;
}

.dt-timeline .time-item.left:hover .content-line{
  right: -10px;
}


.dt-timeline .time-item.right:hover .content-line{
  left: -10px;
}

.dt-timeline .time-item:hover .content-line {
    border-color: #df0024;
}
.dt-timeline .time-item:hover .content-line:before {
    border-color: #df0024;
}
.dt-timeline .time-item:hover .center-line i {
    background: #df0024;
}
.wpb_wrapper{
    margin-bottom: 20px;
}
.wpb_wrapper p{
   font-family: "Opensans-light";
   width: 100%;
   
   color: rgba(0,0,0,0.8);
    font-size: 14px;
    line-height: 22px;
}
/* dt timeline */
.teamSect{
    width: 100%;
    float: left;
    margin-bottom: 50px;
    margin-top: 30px;
}
.teamOuter{
    width: 100%;
    float: left;
    margin-top: 30px;
}
.teamPic{
    width: 233px;
    height: 218px;
    margin: 0 auto 5px;
    clear: both;
}
.teamPic img{
    height: 100%;
}
.teamName{
    width: 100%;
    float: left;
    text-align: center;
    font-family: "Opensans-bold";
    font-size: 16px;
    color: #df0024;
}
.teamPost{
    width: 100%;
    float: left;
    font-family: "Opensans-light-italic";
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    text-align: center;
    margin-bottom: 15px;
}
.appliSect{
    width: 100%;
    float: left;
    position: relative;
    top: -35px;
}
.appliSliderBox{
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.appligridbox{
    width: 100%;
    float: left;
}
.appligridbox p{
    width: 100%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-family: "Opensans-light";
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    margin-top: 10px;
}
ul,li{
    list-style-type: none;
}
.processSect{
    width: 100%;
    float: left;
    background: url('../img/manuBg.png') no-repeat;
    background-size: 100% 100%;
    padding: 25px 0px 40px;
}
.processSectOuter{
    width: 100%;
    float:left;
    padding: 25px 0px;
    border-bottom: 1px solid #e11132;
}
.processTitle{
    width: 100%;
    float: left;
    font-family: "Opensans-bold";
    font-size: 18px;
    color: rgba(0,0,0,0.8);
    text-transform: uppercase;

}
.processSectOuter img{
    box-shadow: 0px 0px 13px -1px;
}

.readBtn {
    text-decoration: none;
    font-family: 'Opensans-regular';
    font-size: 12px;
    color: #474747;
    border: 1px solid #474747;
   padding: 5px 18px;
  transition:all 0.2s ease;
  float: left;
  width: auto;
  cursor: pointer;
   margin-top: 15px;
   text-transform: uppercase;
}
.readBtn:hover {
    color: #df0024;
    border: 1px solid #df0024;
}

.approachSect{
    width: 100%;
    float: left;
    position: relative;
    top: -35px;
    padding-bottom: 40px;
}
.saleSect{
    width: 100%;
    float: left;
    position: relative;
    top: -35px;
}
.certiOuter{
    width: 100%;
    float: left;
    position: relative;
    top: -35px;
}
.certiOuterBox{
    width: 100%;
    float: left;
    border-bottom: 1px solid #e11132;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.certiMainBox{
    width: 100%;
    float: left;
}
.certiLeftBox{
    width: 100%;
    float: left;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    cursor: pointer;
}
.leftBoxTitle{
    width: 100%;
    float: left;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    font-family: "Opensans-bold";
    margin-bottom: 5px;

}
.leftDesc{
    width: 100%;
    float: left;
    font-family: "Opensans-light";
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    margin-bottom: 5px;
}
.certiMainBox .bor_right{
    border-right: 1px solid #cccccc;
}
.certiLeftBox:hover .leftBoxTitle{
    color: #df0024;
}
.certiRightBox{
    width: 100%;
    float: left;
}
.certiRightBox1{
    width: 100%;
    float: left;
}
.rightBoxTitle{
    width: 100%;
    float: left;
    font-family: "Opensans-bold";
    font-size: 25px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
    margin-bottom: 5px;
}
.rightBoxDesc{
   width: 100%;
    float: left;
    font-family: "Opensans-light";
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    margin-bottom: 5px; 
}
.rightBoxPic img{
    box-shadow: 0px 0px 13px -1px;
}
.languageCerti img{
    box-shadow: 0px 0px 13px -1px;
}
.networkSect{
    width: 100%;
    float:left;
    position: relative;
    top: -35px;
}
.contactGridSect{
    width: 100%;
    float: left;
    position: relative;
    top: -35px;
}
.contactOfficeOuter{
    display: table;
    margin: 0 auto;
}
.contactTitleGrid{
    width: auto;
    padding:8px 23px 8px 35px;
    background: #d7d7d7;
    float: left;
    border-bottom: 1px solid #bcbcbc;
    border-top: 1px solid #bcbcbc;
    position: relative;
    color: rgba(0,0,0,0.8);
    font-family: "Opensans-light";
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.contactTitleGrid:first-child{
    border-left: 1px solid #bcbcbc;
    padding:8px 23px 8px 18px;
}
.contactTitleGrid:after{
    position: absolute;
    top: 13%;
    
    display: block;
    width: 26px;
    height: 26px;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    right: -14px;
    border-right: 1px solid #bcbcbc;
    border-top: 1px solid #bcbcbc;
    background: #d7d7d7;
    z-index: 9;
}
.contactTitleGrid:hover{
    background: #df0024;
    color: #fff;
}
.officeActive{
    background: #df0024;
    color: #fff;
    border-bottom: 1px solid #df0024;
    border-top: 1px solid #df0024;
}
.officeActive:after{
    background: #df0024; 
   border-right: 1px solid #df0024;
    border-top: 1px solid #df0024;
}
.contactTitleGrid:hover:after{
   background: #df0024; 
   border-right: 1px solid #df0024;
   border-top: 1px solid #df0024;
}
.contactOfficeGrid{
    width: 100%;
    float: left;
    margin-top: 50px;
}
.contactoffInfoBox{
    width: 100%;
    float: left;
}
.officeInfoTitle{
    width: 100%;
    float: left;
    text-transform: uppercase;
    font-family: "Opensans-bold";
    font-size: 18px;
    color: #df0024;
    margin-bottom: 10px;
}
.contactOfficeGrid img{
    
    float: right;
}
.conInfoInnerBox{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.conInfoInnerBox:last-child{
    margin-bottom: 0px;
}
.conInnerBoxLogo{
    width: 15px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.conInfoDesc{
    width: calc(100% - 25px);
    float: left;
    font-family: "Opensans-light";
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    line-height: 22px;
}
.form_section {
    width: 100%;
    float: left;
    background: url("../img/contactFormBg.png");
    background-size: 100% 100%;
    padding-top: 55px;
    padding-bottom: 55px;
    z-index: 1;
    margin-top: 25px;
    position: relative;
}
.form-control {
    height: 50px;
    border-radius: 0px;
    font-family: "Opensans-light-italic";
    font-size: 16px;
    color: rgba(0,0,0,0.8);
}
#message {
    height: 230px;
    padding-top: 13px;
    resize: none;
}
.form_section h3 {
    margin-top: -30px;
    color: #fff;
    text-align: center;
    position: relative;
    top: -5px;
}
.custom_submit_btn {
    width: 225px;
    color: #df0024;
    font-size: 20px;
    border-radius: 0px;
    font-weight: 600;
    font-family: "Opensans-bold";
    position: relative;
    top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#googleMap {
    width: 100% !important;
    z-index: 0;
    padding: 0;
    height: 600px;
    margin-bottom: -70px;
    position: relative !important;
    top: -59px !important;
}
.googleMapSect{
    width: 100%;
    float: left;
}
.officePic{
    width: 414px;
    float: right;
}
.officePic img{
  box-shadow: 0px 0px 13px -1px;  
}
.floating-text span{
    font-family: "Opensans-semibold";
}
.activeMenu{
    color: #df0024;
}
#donarModal .submit-btn-form{
    font-family: 'Opensans-regular';
    font-size: 12px;
    color: #474747;
    border: 1px solid #474747;
   padding: 5px 18px;
  transition:all 0.2s ease;
  text-transform: uppercase;
  display: table;
  margin: 0 auto;
  width: auto;
  float: none;
  border-radius: 0px;
}
#donarModal .submit-btn-form:hover{
    color: #df0024;
    border: 1px solid #df0024;
}
.btn-danger{
    text-transform: uppercase;
    color: rgb(204, 0, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0px;
    display: none;
    background-color: rgb(255, 255, 255);
}




#dt-menu li > ul.sub-nav {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
  }
  #dt-menu ul.sub-nav {
    float: left;
    margin-left: 11px;
    z-index: 999;
    position: absolute;
    padding: 10px 20px;
  }
  #dt-menu .sub-nav {
    top: auto;
    bottom: auto;
    left: auto;
    top: 
    display: table;
    padding: 0;
    width: 220px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 4px;
}
#dt-menu .sub-nav span{
    color: #df0024;
    font-size: 14px;
    font-family: "Opensans-semibold";
}
#dt-menu .sub-nav a {
    color: #888;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Opensans-regular';
}
  #dt-menu li:hover > ul.sub-nav {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  #dt-menu li:hover > ul.sub-nav {
    visibility: visible;
    opacity: 1;
  }
.homeSect3TxtBox{
    padding-top: 50px; margin-left:-30px;
}
.homeSect3TxtBox p{
    width: 285px;
}
.skil1{
    opacity: 0.4;
}
#homeBtmSlider p.sub_txt{
    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    
    max-height: 80px;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
}
.btn-danger:hover{
    color: #c9302c;
    background-color: #fff;
    border-color: #ac2925;
}
#modal_body ul, #modal_body li{
    list-style-type: disc !important;
}
/* css added by PRACHI */

@media(min-width: 320px) and (max-width: 479px){
    div#bs-example-navbar-collapse-1{
        position: absolute;
        z-index: 999;
        width: 100%;
        background: #df0024;
        margin-top: 0px;
    }
    .navbar-brand{
        height: auto;
        padding: 5px 15px;
    }
    .floating_wrapper{
        top: auto;
        width: 100%;
        float: left;
        z-index: 0;
        text-align: center;
    }
    .header_promo{
        top: auto;
    }
    .floating_header_content{
        width: 100%;
        height: auto;
        border: none;
    }
    .heading_of_promo{
        padding: 20px 10px;
    }
    .whoweAreSect{
        top: 30px;
    }
    .abTopPic{
        height: 255px;
        margin-bottom: 15px;
    }
    .abTopPicDesc{
        text-align: justify;
    }
    .skil1 .col-md-4{
        display: none;
    }
    .homeSect3TxtBox{
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
    }
    .homeSect3TxtBox p{
        width: 100%;
        color: rgba(0,0,0,0.6);
    }
    .btn-danger{
        display: block;
        float: none;
        margin: 0 auto 20px;
    }
    .skil1{
        opacity:1;
    }
    .homeSect3{
        border-bottom: none;
    }
    .custom_navbar_style{
        height: auto;
    }
    div#bs-example-navbar-collapse-1 li a{
        color: #fff;
    }
    p.heading_of_promo_p{
        font-size: 20px;
    }
    p.title_1{
        font-size: 23px;
    }
    .timeline-left-group{
        width: 100%;
    }
    .timeline-right-group{
        width: 100%;
    }
    .timeline-left-group .content-line{
        margin: 0;
    }
    .dt-timeline:before{
        display: none;
    }
    .dt-timeline .time-item .center-line{
        display: none;
    }
    .dt-timeline .time-item .content-line:before{
        display: none;
    }
    .wpb_single_image img{
        height: 170px;
    }
    .timeline-right-group .content-line{
        margin: 0;
    }
    .teamGridBox{
        width: 100%;
        float:left;
    }

}
